

.bgtext{
  
    color: black;
    text-align: center;
    background-color: white;
}

.cardimg{
    background-size: 50%;
}



.Container{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.background-video{
    height: 100%;
width: 800%;

top: 0;
padding: none;

}



@media (max-width: 960px){

    .background-video{
        display:flex;
        overflow: hidden;

    }

    .card{
        overflow: hidden;
    }

        .welcome{
            display:none;
        }
}


  

   

